.app_menu {
  position : fixed;
  top : 50px;
  height : 100%;
  color : white;
  z-index : 2;

  > .app_menu_icon_container {
    width : 40px;
    height : 100%;
    background-color : #311D4E;
    > .app_menu_icon {
      color : white;
      text-decoration : none;
      font-size : 20px;
      padding : 10px;
      width : 40px;
      &.active {
        background-color: #1E122E;
      }
    }
  }

  > .app_menu_content_container {
    background-color : #291841;
    position : fixed;
    left : 40px;
    list-style : none;
    padding-left : 0;

    > li {
      border-bottom : solid 1px #311D4E;
      &:hover {
        background-color: #1E122E;
      }
      > a {
        padding : 10px;
        display : block;
        color : white;
        text-decoration : none;
        &:hover {
          background-color : #311D4E;
        }
      }
    }

    li.app_menu_title {
      text-align : center;
      font-size : 20px;
      padding : 6px 20px 6px 20px;
      background-color: #1E122E;
      border : none;
      font-weight : bold;
    }
  }
}

@media(max-width:900px)  {
  .app_menu {
    top : 0px;
    left : 0px;
    height : 40px;
    width : 100%;
    .app_menu_icon_container {
      width : 100%;
      height : 42px;
    }
    z-index : 2000;
  }
  .app_menu_icon {
    background-color : #311D4E;
  }
  .navbar {
    top : 40px;
  }
}

.app-input-number {
  width : 15%;
  text-align : right;
}

.app-xsmall {
  width : 15%;
}

.app-small {
  width : 30%;
}

.app-medium {
  width : 50%;
}

.app-large {
  width : 75%;
}

.meeting-box {
  text-align : center;
}

.app-small-info {
  font-size : 10px;
  color : #C51616;
}